<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.perfree.system.mapper.MenuMapper">

    <select id="menuListByUserId" resultType="com.perfree.system.model.Menu">
        SELECT pm.* FROM p_menu pm
        INNER JOIN p_role_menu prm ON pm.id = prm.menuId
        INNER JOIN p_user pu ON prm.roleId = pu.roleId
        WHERE pm.type = #{type,jdbcType=INTEGER} AND pu.id = #{userId,jdbcType=INTEGER} AND pm.status = 0
        order by pm.seq asc
    </select>
</mapper>
